*{
    font-family: "Comic Sans MS", cursive, sans-serif;
    margin: 0px;
    padding: 0px;
}

body{
    text-align: center;
    background-image: url("../image/background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1{
    font-size: 50px;
    padding: 5px;
}

h2{
    font-size: 40px;
    color: #C7041B;
}

h3{
    font-size: 25px;
    color: black;
}

p{
    padding: 10px;
    font-size: 18px;
}

p::first-letter {
    color: #C7041B;
    font-size: 130%;
}

.bold{
    font-weight: bold;
}

.page-header{
    background-color: white;
    width: 100%;
    top: 0;
}

.page-header h1{
    top:0;
    font-style: oblique;
}

.sup-header{
    color: #C7041B;
    padding-bottom: 20px;
}

nav{
    background-color: white;
    color: black;
    font-size: 20px;
    width: 800px;
    margin: auto;
    border-bottom: 2px dashed black;
}

.min{
    width: 100%;
    position: fixed;
    top: 0;
    border-bottom: 1px dashed black;
}

ul li{
    font-size: 23px;
    display: inline-block;
    padding: 10px 20px;
}

nav span{
    display: none;
}

ul li:hover{
    color: #C7041B;
}

a{
    color: black;
    text-decoration: none;
}

.active{
    color: #C7041B;
}

main{
    margin: auto;
    width: 800px;
}

.anchor{
    visibility: hidden;
    padding-top:60px;
    margin-top:-60px;
}

article{
    padding: 20px;
}

article header{
    display: block;
    margin: 10px;
}

section header{
    margin: 10px;
}

article:not(:last-of-type){
    border-bottom: 1px dashed black;
}

table{
    width: 800px;
    margin: auto;
    padding: 10px;
}

table td{
    padding: 2px 0px;
}

table thead{
    font-weight: bold;
}

.positive-green{
    color: #00CC4E;
}

.moderate-yellow{
    color: #ECEC3A;
}

.basic-blue{
    color: #253BE3;
}

.project:not(:last-of-type){
    border-bottom: 1px dashed lightgray;
}

section:not(:last-of-type){
    border-bottom: 2px dashed lightgray;
}

.project header{
    padding: 10px;
}

.project header h3 sup{
    color: #253BE3;
    font-size: 50%;
}

.project img{
    margin: 20px;
    width: 90%;
}

address span{
    display: block;
}

footer{
    color: black;
    width: 800px;
    margin: auto;
    border-top: 2px dashed black;
}

@media only screen and (max-width: 768px){
    nav{
        width: 600px;
    }

    main{
        width: 600px;
    }

    table{
        width: 500px;
    }

    footer{
        width: 600px;
    }

}

@media only screen and (max-width: 640px){
    nav{
        width: 95%;
    }

    nav:hover{
        height: auto;
    }

    nav:hover ul li{
        display: block;
    }

    nav:hover span{
        display: none;
    }

    nav ul li{
        display: none;
    }

    nav span{
        display: block;
    }

    .mobile-menu-button{
        display: block;
    }

    main{
        width: 90%;
    }

    table{
        width: 300px;
    }

    footer{
        width: 95%;
    }
}