<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Portofolio : Ian Gerrebrands</title>
    <link rel="stylesheet" type="text/css" href="css/index.css">
    <script src="js/lib/underscore-min.js" type="text/javascript"></script>
    <script src="js/lib/angular.min.js" type="text/javascript"></script>
</head>
<body ng-app="portfolioApp">
    <header class="page-header">
        <h1>Ian Gerrebrands</h1>
        <h2 class="sup-header">Developer</h2>
        <nav ng-controller="navCtrl">
            <ul>
                <a ng-repeat="l in nav.links" href="{{l.href}}" ng-class="{active: l.active}" ng-click="activate(l)">
                    <li>{{l.name}}</li>
                </a>
                <a href="" ng-mouseenter="toggleMinimizerState()" ng-mouseleave="toggleMinimizerState()" ng-click="toggleMinimizerArticles()"><li>{{nav.minimizer.state}}</li></a>
            </ul>
        </nav>
    </header>

    <main>
        <!-- About -->
        <article id="about">
            <header><h2>About</h2></header>
            <table>
                <tr><td>FULL NAME</td><td>Ian Gerrebrands</td></tr>
                <tr><td>BIRTHDAY</td><td>08 september, 1992</td></tr>
                <tr><td>BIRTH PLACE</td><td>Delft</td></tr>
                <tr><td>HOBBIES</td><td>Developing, games and fitness</td></tr>
                <tr><td>LANGUAGES</td><td>Dutch and English</td></tr>
            </table>
            <p>
                Hello, my name is Ian Gerrebrands I'm 23 years old.
                I study Application Development at RocMondriaan in the Hague.
                I did start programming 3 and a half year ago.
                I'm now a really motivated programmer and I like to code in my spare time.
                I learned a lot in the last 3 years, I did start with HTML5, javascript and CSS. I kept on learning and now I know Java, C#, Python, PHP and NodeJS.
                I have two certificates Java Fundementals and Database Design
            </p>
            <p>
                The thing I love most about programming is to solve complicated problems.
                I do also love to create the communication between client side and server side.
                What is good code in my opinion? Good code is code that everyone with a little bit of programming knowledge understands.
                Use comments in your code to explain complicated things and do not write functions with 100 lines of code.
                I want to structure my code so its readable for everyone.
            </p>
        </article>

        <!-- Skills -->
        <article id="skills" ng-controller="skillCtrl">
            <header><h2>Technical skills</h2></header>
            <table>
                <thead>
                    <td><h3>Language</h3></td>
                    <td><h3>Experience</h3></td>
                </thead>
                <tr ng-repeat="skill in skills">
                    <td>{{skill.NAME}}</td>
                    <td><span ng-class="skill.EXPERIENCE.STYLE">{{skill.EXPERIENCE.TEXT}}</span></td>
                </tr>
            </table>
        </article>

        <!-- Projects -->
        <article id="projects" ng-controller="projectCtrl">
            <header><h2>Projects</h2></header>
            <project ng-repeat="project in projects"></project>
        </article>

        <!-- Contact -->
        <article id="contact">
            <header><h2>Contact</h2></header>
            <section>
                <address>
                    <table>
                        <tr><td>FULL NAME</td><td>Ian Gerrebrands</td></tr>
                        <tr><td>MAIL ADDRESS</td><td>igerrebrands@competa.com</td></tr>
                        <tr><td>PHONE NUMBER</td><td>06-12020027</td></tr>
                        <tr><td>MAILTO</td><td><a href="mailto:igerrebrands@competa.com?subject=portfolio">Send an Email</a></td></tr>
                    </table>
                </address>
            </section>
        </article>
    </main>


    <!-- footer -->
    <footer>
        <ul>
            <li>
                &copy; Ian Gerrebrands 2016
            </li>
        </ul>
    </footer>

    <!-- Javascript -->
    <script src="js/app.js" type="text/javascript"></script>
    <script src="js/constant/skills.js" type="text/javascript"></script>
    <script src="js/constant/projects.js" type="text/javascript"></script>
    <script src="js/nav/navController.js" type="text/javascript"></script>
    <script src="js/skill/skillController.js" type="text/javascript"></script>
    <script src="js/project/projectController.js" type="text/javascript"></script>
    <script src="js/project/projectDirective.js" type="text/javascript"></script>
</body>
</html>